name: Build Jekyll

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
          bundler-cache: true

      - name: Install Dependencies
        run: bundle install --jobs 4

      - name: Build Jekyll
        run: bundle exec jekyll build

      - name: Upload _site as artifact
        uses: actions/upload-artifact@v4
        with:
          name: jekyll-build
          path: _site/
