name: Build and Deploy Jekyll

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
          bundler-cache: true

      - name: Install Dependencies
        run: bundle install --jobs 4

      - name: Build Jekyll
        run: bundle exec jekyll build

      - name: Upload _site as artifact
        uses: actions/upload-artifact@v4
        with:
          name: jekyll-build
          path: _site/

  web-deploy:
    name: Deploy to FTP
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: jekyll-build
          path: ./_site

      - name: Deploy via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.6
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USER }}
          password: ${{ secrets.FTP_PASSWORD }}

          protocol: ftps
          port: 21

          security: loose
          timeout: 60000
          log-level: verbose

          local-dir: ./_site/
          server-dir: ../
          exclude: |
            **/.git*
            **/.github*
            **/README.md
